name: CI

on:
  push:
    branches: [main, development]
  pull_request:
    branches: [main, development]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create google vision credentials file
        run: |
          echo "${{ secrets.VISION_CREDENTIAL_JSON }}" > ./src/vision-sa.json
